/* components/VoteAnimation.css */

.vote-animation-container {
    position: fixed;
    top: 0; /* Start from the top of the viewport */
    width: 100%;
    height: 100%; /* Allow full vertical space for emojis */
    pointer-events: none; /* So it doesn't interfere with other elements */
    z-index: 1000; /* Make sure it's above other elements */
  }
  
  .vote-animation {
    position: absolute;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  .vote-animation.hot {
    left: -5%; /* Start slightly off-screen to the left */
    animation-name: moveHot 2s linear forwards; /* Adjust time as needed */
  }
  
  .vote-animation.cold {
    right: -5%; /* Start slightly off-screen to the right */
    animation-name: moveCold 2s linear forwards; /* Adjust time as needed */
  }
  
  @keyframes moveHot {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(105vw); /* Move across the full width of the viewport plus initial offset */
    }
  }
  
  @keyframes moveCold {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-105vw); /* Move across the full width of the viewport plus initial offset */
    }
  }
  